@inject ShoppingCart ShoppingCart
@inject ProtectedSessionStorage ProtectedSessionStorage
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using MyCheeseShop.Model
















<div class="card h-100">
<div class="card">
    <div class="card-body">
        <img src="/img/cheeses/@Cheese.ImageUrl" class="card-img-top p-1" alt="@Cheese.Name" onerror="this.onerror = null; this.src='/img/no_cheese.png'">
        <h3>
            <span class="badge bg-primary">@Cheese.Type</span>
            <span class="badge bg-danger">@Cheese.Strength</span>
        </h3>
        <span class="badge bg-danger">@Cheese.Price</span>
        <h5 class="card-title">@Cheese.Name</h5>
        <p class="card-text">@Cheese.Description</p>
 

            <EditForm Model="quantity" OnSubmit="AddToCart">
                <InputSelect class="form-select w-100" @bind-Value="quantity" required>
                    <option value="100">100g</option>
                    <option value="200">200g</option>
                    <option value="300">300g</option>
                    <option value="400">400g</option>
                    <option value="500">500g</option>
                </InputSelect>
                
                
                <button class="btn btn-primary position-relative w-100">
                                    Add to cart
                                    @if (ShoppingCart.GetQuantity(Cheese) > 0)
                                    {
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            @(ShoppingCart.GetQuantity(Cheese) * 10)g
                                            <span class="visually-hidden">@Cheese.Name in shopping cart</span>
                                        </span>
                                    }
                </button>
            </EditForm>
     
    </div>
</div>
</div>
















@code {

    [Parameter]
    public Cheese Cheese { get; set; }

    private int quantity = 1;

    public async Task AddToCart()
    {
        ShoppingCart.AddItem(Cheese, quantity);
        await ProtectedSessionStorage.SetAsync("cart", ShoppingCart.GetItems());
    }



}


